*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*  header and navigation style */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.primary-color{
    color: #FD6E0A;
}
.head{
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
   

}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    height: 64px; 
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    color: #ffffff;
}
.banner{
    margin:0 200px ;
    display: flex;
    align-items: center;
}
.ban-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.ban-sub{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.discription{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 10px;

}

/* about section styles */
.about{
    padding: 131px 156px ;
    margin-top: 130px;
    background: #FFF8F3;

    
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.sec-discription{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;


}
.about-info-con{
    display: flex;
    justify-content: space-around;

}
.about .info-title{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}
.about .info-discription{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* what i do section */

.section-i-do{
    margin-top: 130px;
}
.section-discription{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    padding:0  130px ;
}
.skills-container{
    display: flex;
    gap: 24px;
   
}
.skill{
    padding: 30px;
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
}
.skill-title{
    font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
margin-bottom: 20px;
}
.skill img{
    margin-bottom: 30px;
}
.skill-description{
    color: #757575;
    font-weight: 400;
font-size: 16px;
line-height: 28px;
}
/* summary of resume */
.resume{
    margin-top: 130px;
}
.container{
    display: flex;
    gap: 71px;
    margin-top: 130px;
}
.cont-title{
    margin-bottom: 30px;
    color: #474747;
    font-weight: 700;
font-size: 30px;
line-height: 41px;
}
.item-title{
    color: #474747;
    font-weight: 700;
font-size: 25px;
line-height: 34px;
margin-bottom: 10px;
}
.item-sub{
    color: #757575;
    font-weight: 600;
font-size: 20px;
line-height: 27px;
margin-bottom: 20px;
}
.item-description{
    color: #757575;
    font-weight: 400;
font-size: 16px;
line-height: 28px;
}
hr{
    margin:30px 0;
    width: 558px;
height: 0px;
left: 230px;
top: 3044px;
border: 1px solid #D1D1D1;
}
.resume-button{
    margin-top: 50px;
    margin-bottom: 113px;
    text-align: center;
}
/* connect section */
.connect{

left: 0px;
top: 3476px;

background: #FFF8F3;
padding: 130px 230px;
display: flex;
gap: 117px;
}
.c-title{
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 20px;
}
.c-p{
    margin-bottom: 30px;
}